/*--------tooltip css--------*/
    .ttip {
    background-image: url("../corfirm.png");
    background-repeat: no-repeat;
    background-size: 370px 134px;
    color: #7D660A;
    padding: 10px;
    position: absolute;
    width: 357px;
}
.contents {
    font-size: 13px; 
    margin-top: 15px; 
    width: 340px;
}
.note {
    font-size: 13px;
    text-align:center;
    display:block;
    width: 100%
}
#background{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000;
    z-index: 1;
}
#large {
    display: none;
    position: absolute;
    background: #FFFFFF;
    padding: 0px;
    z-index: 10;
    min-height: 0px;
    min-width: 0px;
    color: #336699;
    margin: 22px 70px;
}
#show-email{
    display: none;
    background-image: url("../corfirm.png");
    background-repeat: no-repeat;
    background-size: 130px 70px;
    color: #7D660A;
    padding: 10px;
    position: absolute;
    width: 130px; 
}
.close-btn {
    float: right;
    height: 20px;
    width: 20px;
}
#tooltip{
	position:absolute;
	border:1px solid #333;
	background:#f7f5d1;
	padding:2px 5px;
	color:#333;
	display:none;
        border-radius: 8px 8px 8px 8px;
	}  
/*--------end tooltip css--------*/  

img.cs_import1 {
    border: 1px solid #EEEEEE;
}
img.cs_import {
    border: 1px solid #EEEEEE;
}
a img {
    border: 0 none;
    padding: 2px;
}
.import-email a {
    display: block;
    float: left;
    margin: 0 85px 0 3px;
    width: 32px;
	text-decoration:none;
}
.import-email {
	height:36px;
	padding:0px !important;
}
p.seal-image{
	text-align: center;
    width: 83px;
	font-weight:bold;
}
p#stores{
	margin-top:10px!important;
}
.contact-import{
    background-color: #F6F6F6;
    border: 1px solid #E0E0E0;
    float: left;
    margin-left: 65px;
    position: relative;
    width: 470px;
/*    height: 500px;*/
    }   
button.connect_btn {
    padding: 8px 30px 7px;
}
.connect-btn {
    background: linear-gradient(#71A0D8, #3679C8) repeat scroll 0 0 #3679C8;
    border-color: #709FD7 #4D83C3 #2A68AF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px #8DB2E0 inset;
    color: #FFFFFF;
    font: 700 18px/20px Arial,sans-serif;
    padding: 7px 30px 8px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.mch {
    display: inline-block;
    margin: 9px 0 0;
}
  .show-contact {
    background-color: #F6F6F6;
    clear: left;
    float: left;
    margin: 5px 10px 0 40px;
    overflow: auto;
}
.imp_photo_w img{
cursor: pointer;
}
.photo_show{
    float: left;
    width: 100px;
    margin-bottom: 10px;
}
.showcontacts{
color: #CC0033;
border-bottom: 1px #5691D4 dashed;
font-family: Tahoma;
font-size: 13px;
text-align: left;
}

.headercontacts {
color: #FFFFFF;
font-weight: bold;
background-color: #5691D4;
font-family: Tahoma;
font-size: 13px;
font-weight: bold;
text-align: left;
}
.showcontacts_bg{height:26px;}
.importsucess{
background-color: #FEFFD5;
background-image: url("images/info_war.png");
background-position: left center;
background-repeat: no-repeat;
border: 1px solid #FFEB70;
color: #0033FF;
font-size: 16px;
font-weight: bold;
line-height: 1.5;
margin-bottom: 15px;
min-height: 40px;
padding: 5px 5px 5px 80px;
text-align: left;
width: 338px;
}
.photo_to_desel {
    bottom: 0;
    display: none;
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}
.photo_to_sel {
    bottom: 0;
    display: none;
    left: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}
label.show-text {
    color: #34993D;
    display: block;
    float: left;
    font-size: 13px;
    margin: 12px 0 0 2px;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 62px;
}
label.show-text1 {
    color: #34993D;
    display: block;
    float: left;
    font-size: 13px;
    margin: 12px 0 0 2px;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 62px;
}
.connect_btn {
    background: none repeat scroll 0 0 #339933;
    border-color: #339933;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px #339933 inset;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font: 700 18px/20px Arial,sans-serif;
    margin: 5px 0 0 10px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
.sss{
    padding-top: 5px;
}
.how-work{
    float: right;
    margin: 10px 10px 0 0; 
}
#account-type {
    margin: 15px 0 0;
}
#account-type {
    background-color: #FFFFFF;
    border-bottom: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    margin-bottom: 15px;
    width: 372px;
    height: 35px;
    clear: left;
    margin-left: 40px;
}
.account-img{
    background-image: url("../images/social_icons/all_image.png");
    background-position: -70px 0;
    background-repeat: no-repeat;
    display: block;
    height: 34px;
    margin-left: 10px;
    width: 61px;
}
.account-img1{
    background-image: url("../images/social_icons/all_image.png");
/*    background-position: -1542px 0;*/
    background-position: -70px 0;
    background-repeat: no-repeat;
    display: block;
    height: 34px;
    margin-left: 10px;
    width: 125px;
}
.account-name i {
    color: #999999;
    float: right;
    font-size: 13px;
    font-style: normal;
    margin-top: -25px;
    margin-right: 5px;    
}
.selection{
    clear: left;
    float: left;
    font-size: 13px;
    margin-top: 10px;
    padding-left: 10px;
}
.photo_show_ {
    float: left;
    margin: -3px 0 0 -3px;
}
.tooltip_11 img {
    float: left;
}