.bigPic{
	width:936px;
	height:300px;
	padding:1px;
	background-color:#FFF;
	margin:20px auto;
}
.bigPic img{
	position:absolute;
	display:none;
}

.thumbs {
	overflow-x:auto;
	width:940px;
	margin: 0px auto;
}
.thumbs ul{
    list-style: none outside none;
    margin: 0;
    padding: 0;
    height: 50px;
	width: 5800px;
}
.thumbs ul li{
	float:left;
	margin-right:5px;
	margin-bottom:5px;
	margin-left:0;
	margin-top:0;
	padding:5px;
	cursor:pointer;
	border:5px solid #eee;
}
.thumbs ul li:hover{
	border:5px solid #ccc !important;
	background:#fff;

}
.thumbs ul li.active{
	border:5px solid #616161 !important;	
	background:#fff;

}
.thumbs ul li.active:hover{
	border:5px solid #339933 !important;
	background:#fff;

}
.thumbs ul img{
	float:left;
	line-height:80px;
	overflow:hidden;
	position:relative;
	z-index:1;
	width: 194px;
	height: 55px;
}