*
{
	margin: 0;
	padding: 0;
}

#rotator
{
	
	overflow: hidden;
	margin:0 auto;
	position: relative;
	width: 695px;
	height: 285px;
	float:right;
	
}

#rotator img
{
	border: 0;
	width: 695px;
	height: 285px;
	overflow: hidden;
}
