@font-face {
    font-family: 'SegoeUI8Regular';
    src: url('segoeui.eot');
    src: url('segoeui.eot') format('embedded-opentype'),
         url('segoeui.woff') format('woff'),
         url('segoeui.ttf') format('truetype'),
         url('segoeui.svg#SegoeUI8Regular') format('svg');
}
