@media (min-width: 240px){
	#logo-section .super-winter-sale h4{
		padding: 0;
		line-height: 24px;
	}
	#logo-section .super-winter-sale {
	    background: url("../images/winter-sale-bg.jpg") repeat 0 0;
	}
}

@media (min-width: 767px){
	.navbar-collapse{
		padding: 0;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	#main-nav {
	    font-size: 13px;
	}
	#main-nav .nav > li > a {
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.navbar-nav > li > a:before{
		left: 10px;
	}
}

@media (min-width: 992px) and (max-width: 1199px){
	#main-nav .nav > li > a {
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.navbar-nav > li > a:before{
		left: 20px;
	}
	.multi-color-box .btn-wrap a, .multi-color-box .btn-wrap a:first-child {
	    margin: 0 0 10px;
	}
	.multi-color-box .body{
		min-height: 440px;
	}
    .fotorama__stage.fotorama__pointer{height: 252px!important;}
    .custom .left-overlay,.custom .right-overlay{width: 1140px!important; height: 367px!important;}
}

@media (min-width: 1200px){
	.navbar-collapse{
		padding: 0;
	}
	.navbar-nav > li > a:before{
		left: 33px;
	}
	#logo-section .super-winter-sale {
	    background: url(../images/orange-trapzoid-bg.jpg) right top no-repeat;
	}
	#logo-section .super-winter-sale h4 {
	    padding: 0 0 0 61px;
		line-height: 14px;
	}
	
		#pack-sale .super-winter-sale {
	    background: url(../images/orange-trapzoid-bg.jpg) right top no-repeat;
	}
	#pack-sale .super-winter-sale h4 {
	    padding: 0 0 0 61px;
		line-height: 14px;
	}	
	#pack-section .super-winter-sale h4 {
    line-height: 14px;
    padding: 0 0 0 60px !important;
	text-align:left !important;
}
.fotorama__stage.fotorama__pointer{height: 252px!important;}
.custom .left-overlay,.custom .right-overlay{width: 1140px!important; height: 367px!important;}
}

@media only screen and (max-width: 1200px){
	#websites .devoted-support{
		clear: both;
	}
	#websites .devoted-support .pic {
		text-align: center;
	}
	#websites .devoted-support .pic img {
	    display: inline;
	}
	#website-left-main {
	    float: none;
	    margin: 0 auto;
	}
}

@media only screen and (max-width: 1199px){
	.trapzoid-box.guarantee-box{
		background: url(../images/color-box-blue.jpg) 0 0 repeat;
		width: auto;
	}
	.trapzoid-box.guarantee-box h3 {
	    padding: 105px 20px;
	}
	#inner-cont-banner .banner-caption-head h2{
		font-size: 20px;
	}
	#inner-cont-banner .banner-desc p{
		font-size: 14px;
	}
	#inner-cont-banner .right-align-ban-caption{
		right: 10px;
    	top: 10px;
	}
	#inner-cont-banner .right-align-ban-caption .banner-desc p {
		background: url(../images/hero/text-icon-b.gif) no-repeat 0 9px;
	    color: #000000;
	    font-size: 14px;
	    text-shadow: 0 0 0 #FFFFFF;
	}
	#inner-cont-banner .button{
		padding: 13px;
	}
	.reseller-service {
	    float: right;
	    margin: 12px 72px 0 0;
	}
	.trapzoid-extent1{
		padding: 86px 15px !important;
	}
	#package-pg-body .red .stack .price .new-price, 
	#package-pg-body .blue .stack .price .new-price, 
	#package-pg-body .green .stack .price .new-price{
		float: left;
	}
	#process-order-details article{
		background: none;
		width: 100%;
	}
	.logos-by-industry{
		background-size: 100% auto;
	    height: 644px;
	    margin-bottom: 30px;
	    width: 100%;
	}
	.logos-by-industry h4 {
	    margin: 0 0 30px;
	    padding: 15px 20px 0;
	}
	.unique-devoted-box {
	    margin: 0;
	    width: 100%;
	}
	.unique-devoted-box .concept-bar{
		width: 908px;
	}
	.logo-stage .fotorama{
		top: 0;
	}
	.logo-stage{
		background: none;
		min-height: 0;
	}
	.logo-slide{
		background: #ffffff;
	}
	.logo-stage .fotorama__nav-wrap{
		margin: 0;
	}
	.excited-pack{
		bottom: 0;
	}
	.port-gray-border-round-box-alter {
	    padding: 30px 30px 73px;
	}
	.port-gray-border-round-box-alter .green-btn {
	    bottom: 15px;
	    margin-right: -76px;
	    right: 50%;
	}
	.web-port-btn{
	    float: left;
	    text-align: center;
	    width: 100%;
		margin: 25px 0 0;
	}
	#web-portfolio-thumb .bottom .orange-btn{
		display: inline-block;
		float: none;
	}
	#web-portfolio-thumb .info-widget{
		text-align: center;
	}
	#web-portfolio-thumb .bottom ul li{
		display: inline-block;
	    float: none;
	    padding: 0 4%;
	}
	#seo-ldg-widget .stack{
		border-left: 0 none;
		width: 100%;
		min-height: 0;
	}
	#web-widgets .stack .text-center{
		position: static;
	}
	.package-info-box{
		display: none !important;
	}
	.green-vertical-divider ul{
		margin: 0;
	}
	.kick-start-box input[type="text"]{
		width: 100%;
	}
	#order-process label, #order-process .label-big label{
		width: 100%;
		text-align: left;
	}
	#floated img[alt="clip picture"]{
		display: none;
	}
	.yellow-box .red-bar{
		font-size: 22px;
		padding: 0 0 0 58px;
	}
	#jetpay-form label{
		margin: 0 0 10px;
	}
	#web-order-process .field-box, #web-order-process .simple-field-box{
		min-height: 130px;
	}
	#form-body label{
		width: 100%;
		text-align: left;
	}
	#form-body button{
		margin: 0 !important;
	}
	.more-service .multi-color-box .btn-wrap{
		position: static;
	}
	.scroll-cover {
	    /*height: auto;*/
	    width: 100%;
	    overflow-x: scroll;
	}
	.hosting-scroll-fixed{
		width: 555px;
	}
	.compare-us-scroll-fixed1{
		width: 648px;
	}
	.compare-us-scroll-fixed2{
		width: 551px;
	}
	.port-gray-border-round-box-alter .green-btn-port {
	    bottom: 15px;
	    margin-right: -76px;
	    position: absolute;
	    right: 50%;
	}
}

@media only screen and (max-width: 991px){
	.devoted-support .pic {
	    text-align: center;
	}
	.devoted-support .pic img {
	    display: inline;
	}
	#package-tab{
		margin-left: 3%;
	}
	.trapzoid-box.about-box{
		background: url(../images/winter-sale-bg.jpg) 0 0 repeat;
		min-height: 145px;
		width: auto;
	}
	.right-align-ban-caption{
		display: none;
	}
	.inner-banner .banner-caption{
		display: none;
	}
	#package-pg-body .red .stack .price .new-price, 
	#package-pg-body .blue .stack .price .new-price, 
	#package-pg-body .green .stack .price .new-price{
		float: right;
	}
	.logos-by-industry{
		height: auto;
	}
	.logos-by-industry h4 {
	    margin: 0;
	    padding: 0 20px;
	}
	.unique-devoted-box .concept-bar {
	    width: 688px;
	}
	#simple-tab .line{
		display: none;
	}
	#simple-tab .nav-tabs > li{
		width: 100%;
	}
	#simple-tab .nav-tabs > li > a,
	#simple-tab .nav-tabs > li.active > a, 
	#simple-tab .nav-tabs > li.active > a:hover, 
	#simple-tab .nav-tabs > li.active > a:focus{
		border: 1px solid #A4A4A4;
	}
	#simple-tab .nav-tabs > li.active > a, 
	#simple-tab .nav-tabs > li.active > a:hover,
	#simple-tab .nav-tabs > li.active > a:focus{
		background: #F7FFFF;
	}
	.yellow-box .red-bar {
	    font-size: 16px;
	    padding: 0 0 0 55px;
	    line-height: 4.5;
	}
	#yellow-box-float .title-h{
		display: block;
	}
	.yellow-box .stack .desc {
	    width: 100%;
	}
	#web-order-process .field-box.left {
	    margin: 0 0 10px;
	    width: 100%;
	}
	#web-order-process .field-box.right {
	    margin: 0;
	    width: 100%;
	}
	#web-order-process li{
		margin: 0 0 10px;
	}
	#web-order-process .field-box, #web-order-process .simple-field-box{
		min-height: 0;
		width: 100%;
	}
	#web-nav .navbar-header {
        float: none;
    }
    #web-nav .navbar-toggle {
        display: block;
    }
    #web-nav .navbar-collapse {
		overflow-y: scroll !important;
    }
    #web-nav .navbar-collapse.collapse {
        display: none!important;
    }
    #web-nav .navbar-nav {
        float: none!important;
        margin: 7.5px 0;
    }
    #web-nav .navbar-nav > li {
        float: none;
    }
    #web-nav .navbar-nav> li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
	#web-nav #main-nav .nav > li, #web-nav #main-nav .nav > li:before{
		border: 0 none;
	}
	.more-service .multi-color-box .btn-wrap{
		position: absolute;
	}
	.more-service .col-md-3{
		margin: 0 0 10px;
	}
	.more-service .devoted-support{
		bottom: 0 !important;
	}
	#more-serve-blue-note .col-xs-8{
		width: 100%;
	}
	.res-caption{
		display: none;
	}
	.web-design-slide .custom .pagination{
		display: none;
	}
}

@media only screen and (max-width: 767px){
	#logo-section .lag1 .col-sm-6{
		text-align: center;
	}
	
	
		#pack-sale .lag1 .col-sm-6{
		text-align: center;
	}
	
	#logo a{
		margin: 0 auto;
		float: none;
	}
	#logo {
	    text-align: center;
	}
	#logo a img{
		display: inline-block;
	}
	#main-nav .nav > li, #main-nav .nav > li:before{
		border-left: 0 none;
	}
	#header-top #right-section .r-cont {
	    float: right !important;
	    margin: 0;
	    width: auto;
	}
	#header-top #right-section .r-cont{
		width: 100%;
		text-align: center;
		margin: 0 auto;
		float: none !important;
	}
	#learn-about-us .pic-hold .col-sm-4{
		text-align: center;
	}
	#learn-about-us .pic-hold .col-sm-4 img{
		display: inline-block;
	}
	#learn-about-us .simple-box{
		text-align: center;
	}
	#learn-about-us .simple-box a{
		float: none;
		display: inline-block;
	}
	#ldg-advantage li{
		width: 100%;
	}
	#sief-design-process .process-pic {
		width: 157px;
	}
	#sief-design-process .process-pic .img-icon, #sief-design-process .process-pic .img-icon1 {
	    display: block;
	    width: auto;
	}
	#sief-design-process .process-arrow {
	    margin: 10px 3.9%;
	    width: auto;
	}
	#sief-design-process .title {
	    float: left;
	    width: 250px;
	}
	#sief-design-process .title div {
	    height: 111px;
	    line-height: 6.16667;
	    margin: 0 0 67px;
	    text-align: left;
	    width: 100%;
	}
	#sief-design-process .title div:last-child{
		margin: 0;
	}
	#sief-design-process .title{
		width: 100%;
	}
	#sief-design-process .title .col-lg-3{
		background: #dbd9d9;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
		-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
		-o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
	    border: 1px solid #c3c2c2;
		border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
		-o-border-radius: 5px 5px 5px 5px;
	    margin: 0 0 4px;
	    padding: 15px;
	}
	#sief-design-process .title .col-lg-4{
		margin: 0 0 5px;
	}
	#sief-design-process .title div{
		height: auto;
		line-height: 1;
		text-align: center;
	}
	#sief-design-process .row{
		margin-left: 0;
		margin-right: 0;
	}
	.trapzoid-box.about-box{
		width: 100%;
	}
	#self-intro .col-sm-offset-2{
		width: 100%;
	}
	.gray-border1{
		margin: 0 0 20px;
	}
	.gray-border1 img {
	    margin: 0 auto;
	}
	#we-stand-for .col-sm-offset-2{
		width: 100%;
	}
	#logo-stamp-wrap .bottom-section .col-spacer{
		height: auto;
	}
	#logo-stamp-wrap .bottom-section article{
		min-height: 0;
	}
	.trapzoid-box.guarantee-box h3 {
	    padding: 65px 0;
	}
	.trapzoid-box.guarantee-box{
		width: 100%;
	}
	#banner-bottom-slogan .we-care{
		margin: 0 0 10px;
	}
	.reseller-service {
	    float: none;
	    margin: 10px 0;
	    text-align: center;
	}
	.trapzoid-extent1{
		padding: 46px 0 !important
	}
	#package-super-WS {
	    width: 94%;
	}
	#package-super-WS .left, #package-super-WS .right {
	    width: 100%;
	}
	h3.super-w-title {
	    left: 50%;
	    margin-left: -160px;
	}
	.widget1 .col-sm-4{
		margin-bottom: 30px;
	}
	.widget1 .col-sm-8 div{
		padding: 0 !important;
	}
	.green-vertical-divider{
		background: none;
	}
	.we-care-about-you {
	    margin-bottom: 15px;
	}
	#house-expert-designers .col-sm-5{
		margin-bottom: 30px;
	}
	#house-expert-designers .col-sm-5 img{
		margin: 0;
	}
	.logos-by-industry {
	    background: none repeat scroll 0 0 #FFFFFF;
	    padding: 0;
	}
	.unique-devoted-box .concept-bar {
	    border-radius: 0;
		border: 0 none !important;
	    margin: 0 0 20px !important;
	    width: 100%;
	}
	.unique-devoted-box .concept-bar.silver:before, 
	.unique-devoted-box .concept-bar.silver:after, 
	.unique-devoted-box .concept-bar.elite:before, 
	.unique-devoted-box .concept-bar.elite:after{
		display: none;
	}
	#web-portfolio-body .col-sm-4{
		text-align: left;
		margin: 0 0 20px;
	}
	#web-portfolio-tab #package-tab li{
		width: 100%;
	}
	#web-portfolio-tab .line{
		display: none;
	}
	#web-portfolio-tab #package-tab > li > a,
	#web-portfolio-tab #package-tab > li.active > a, 
	#web-portfolio-tab #package-tab > li.active > a:hover, 
	#web-portfolio-tab #package-tab > li.active > a:focus, 
	#web-portfolio-tab #package-tab > li > a:hover{
		border: 1px solid #9A9A9A;
	}
	#web-portfolio-tab #package-tab {
	    margin: 0 3%;
	}
	#order-process .normal-desc-box{
		width: 280px;
		margin: 0 auto;
	}
	#order-process .normal-desc-box a{
		margin: 8px 0;
	}
	.order-submit-btn {
	    margin: 0;
	}
	#order-process .green-btn span{
		display: block;
	}
	.order-submit-btn span {
	    height: auto !important;
	    line-height: 1.5 !important;
	    padding: 9px 55px !important;
	}
	.order-submit-btn span:before{
		height: auto !important;
	    line-height: 1.5 !important;
		padding: 9px 55px !important;
	}
	#order-process .leftcol {
	    padding: 0;
	}
	.green-vertical-divider2{
		background: none;
	}
	#floated{
		position: static;
		padding: 0;
	}
	#order-process .gray-box .side-pic{
		width: 100%;
	}
	#order-process .gray-box .guarantee-pic-hold {
	    float: right;
	    margin-top: 0;
	    width: 100%;
	}
	.greeny-yellow-box-space{
		margin: 0 15px;
	}
	#form-body input[type="text"], #form-body textarea{
		width: 100%;
	}
	#lowest-price-guarantee-part .leftcol{
		margin-bottom: 30px;
	}
}

@media only screen and (max-width: 680px){
	#blue-bar-footer{
		text-align: left;
	}
	#blue-bar-footer .col-xs-3{
		width: 100%;
		margin: 0 0 22px;
	}
	#black-bar-footer .col-xs-3{
		width: 50%;
	}
	#black-bar-footer .col-xs-2{
		width: 100%;
		clear: both;
		text-align: center;
	}
	#black-bar-footer .col-xs-2 img{
		display: inline-block;
	}
	#package-tab{
		padding-left: 15px;
		padding-right: 15px;
		margin: 0;
	}
	#package-tab li{
		width: 100%;
	}
	#package .line{
		display: none;
	}
	.nav-tabs > li > a, #package-tab > li.active > a, #package-tab > li.active > a:hover, 
	#package-tab > li.active > a:focus, #package-tab > li > a:hover {
	    border: 1px solid #9A9A9A;
	}
}

@media only screen and (max-width: 600px){
	#brand-logo1 li {
	    text-align: center;
	    width: 100%;
	}
	#brand-logo1 li img{
		display: inline;
	}
}

@media only screen and (max-width: 490px){
	#logo-section .lag3 .logo-list li {
	    display: block;
	    float: none;
	    margin: 15px auto;
	    width: 202px;
	}
	#brand-logo ul{
		text-align: center;
	}
	#brand-logo ul li{
		float: none;
	}
	#black-bar-footer .col-xs-3{
		width: 100%;
	}
	#brand-logo2 li{
		width: 100%;
	}
	.custom .pagination{
		display: none;
	}
	.logos-by-industry ul{
		width: 100%;
	}
	.unique-devoted-box .concept-bar {
	    height: auto;
	    line-height: 1.3;
	    padding: 5px 24px;
	}
	.excited-pack {
	    bottom: -10px;
	    margin-right: -95px;
	    position: absolute;
	    right: 50%;
	}
	.excited-pack .excited {
	    float: left;
	}
	.excited-pack a {
	    clear: both;
	    float: left;
	}
	.logo-stage .fotorama__nav-wrap, 
	.logo-in-portfolio .fotorama__nav-wrap{
		display: none;
	}
	.logo-in-portfolio .fotorama{
		margin: 0 0 10px;
	}
	#order-ok-body .green-btn span{
		margin: 0 15px;
		padding: 20px !important;
		height: auto;
		line-height: 1;
	}
	#order-ok-body  .green-btn span:before{
		padding: 20px !important;
		height: auto;
		line-height: 1;
	}
	#form-body .email-contact span{
		display: block;
	}
}

@media only screen and (max-width: 460px){
	#order-process .form1 input[type="text"], 
	#order-process .form1 input[type="password"], 
	#order-process .form1 textarea,
	#order-process .form1 select,
	#jetpay-form input[type="text"], 
	#jetpay-form input[type="password"], 
	#jetpay-form select,
	#web-order-process .field-box input[type="text"], 
	#web-order-process .field-box input[type="password"], 
	#web-order-process .field-box textarea, 
	#web-order-process .field-box select{
		width: 100%;
	}
	.multi-items, #jetpay-form .multiple-items{
		width: 100%;
	}


	#web-order-process .field-box input[type="text"], 
	#web-order-process .field-box input[type="password"], 
	#web-order-process .field-box textarea, 
	#web-order-process .field-box select{
		width: 96%;
	}
	


}

@media only screen and (max-width: 380px){
	.kick-start-box input[type="text"]{
		font-size: 13px;
	}
	#order-process .jetpay-form-outer .normal-desc-box{
		width: 100%;
	}
}

@media only screen and (max-width: 250px){
	#logo-section .lag3 .logo-list li {
	    width: 86%;
	}
		#pack-sale .lag3 .logo-list li {
	    width: 86%;
	}
}

@media only screen and (min-width: 240px) and (max-width: 300px){
	#header-top #right-section .info-box .ph-no{
		display: block;
	}
	#learn-about-us .simple-box{
		text-align: center;
	}
	.orange-btn{
		font-size: 16px;
	}
}

@media only screen and (min-width: 240px) and (max-width: 1199px){
	#logo-type-info ul{
		text-align: center;
	}
	#logo-type-info li, #logo-type-info li:first-child{
		display: inline-block;
		float: none;
		margin: 0 4%;
	}
	#logo-type-info .no-bg {
	    margin: 15px 0 0;
	    padding: 0;
	    text-align: center;
	    width: 100%;
	}
	#logo-type-info .no-bg .orange-btn{
		display: inline-block;
	}
}

@media (min-width: 240px) {
#pack-sale .super-winter-sale h4 {
    line-height: 24px;
    padding: 0;
}
#pack-sale .super-winter-sale {
    background: url("../images/winter-sale-bg.jpg") repeat scroll 0 0 rgba(0, 0, 0, 0);
}
}

@media (max-width: 500px){
	.greeny-yellow-box .num {
  clear: both;
  width: 10%;
}
.greeny-yellow-box .desc {
  width: 90%;
}
}


/*added by sunil for banner text on small display*/

@media (max-width:415px)
{
	.res-caption {
  width: 100%;
}

.res-head {
 
  display: none !important;
 
}

.res-caption {
 
  top: 0px;
 }
 
 .res-caption, .web-design-slide .custom .pagination {
	 display:inherit !important;
  
}
	.res-desc a.button {
  font-size: 11px;
  padding: 7px;  margin:0 !important;
}

.custom .next, .custom .prev, .res-caption {	 display:inherit !important;
  
}
.res-desc {
	margin:0;

}

.res-desc p  {
	display:none ;
  
}

.res-desc p:nth-child(1)  {
	display:inherit !important ;
  
}




.inner-banner .banner-caption, .right-align-ban-caption {
display:inherit !important ;
}

#inner-cont-banner .banner-caption {

  top: 0 !important;
}

.banner-caption-head
{display:none;
}

#inner-cont-banner .banner-desc p {

  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
 
}

#inner-cont-banner .banner-desc p {
	display:none ;
}


#inner-cont-banner .banner-desc p:nth-child(1) {
	display:inherit !important ;
}


#inner-cont-banner .banner-desc p:nth-child(2) {
	display:inherit !important ;
}

#inner-cont-banner .button {

  font-family: "PT Sans",sans-serif,Arial,Verdana;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  padding: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

#inner-cont-banner .white-bg-banner-desc {
	display:none !important;

}
	}
	
	@media (max-width:990px)
{
	
 
 .res-caption, .web-design-slide .custom .pagination {
	 display:inherit !important;
  
}

.custom .next, .custom .prev, .res-caption {	 display:inherit !important;
  
}
.res-desc {


}

.res-desc a.button {

}

.res-head h2 span {
	font-size:20px !important;
  
}


.inner-banner .banner-caption, .right-align-ban-caption {
display:inherit !important ;
}


#inner-cont-banner .banner-caption-head h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}
#inner-cont-banner .button {
  padding: 10px !important;
  position: relative;
  margin:0 !important;
  
 }






	}
	
@media screen and (min-width: 320px) and (max-width:768px) {

	

	.res-desc p  {
	display:none ;
  
}

.res-desc p:nth-child(1)  {
	display:inherit !important ;
  
}

 
.res-head  {
	display:none;
	
  
}

#inner-cont-banner .banner-caption-head 
{
	display:none !important;}
	
	#inner-cont-banner .banner-desc p {
	display:none ;
}


#inner-cont-banner .banner-desc p:nth-child(1) {
	display:inherit !important ;


	}
	
	#inner-cont-banner .banner-desc p:nth-child(2) {
	display:inherit !important ;


	}
}
	
@media(max-width: 320px){
#inner-cont-banner .banner-desc p:nth-child(2) {
	display:none !important ;
}}

@media(min-width: 321px) and (max-width: 414px)
{
	.res-desc p:nth-child(2)  {
	display:inherit !important  ;
  
}

}

@media (max-width: 415px){
#inner-cont-banner .banner-desc p {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
   /* background: url(../images/hero/text-icon.gif) no-repeat 6px 15px rgba(0,0,0,0.5) !important;*/
    padding-left: 18px !important;
}

.mobipdd {
    padding-left: 10px !important;
    padding-right: 10px !important;
}


.hidden-xsmob{display: none !important;}
}

.hidden-xsmob
{     background: url(../images/hero/text-icon.gif) 0 9px no-repeat; 
    margin: 0 0 5px;
    padding: 0 0 0 15px;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
}