@media (min-width: 992px) and (max-width: 1199px){
	.navbar-nav > li > a:before{
		left: 7px;
	}
	#main-nav .nav > li > a {
	    padding: 10px 7px;
	}
}

@media (min-width: 1200px){
	#main-nav .nav > li > a{
		padding: 10px 18px;
	}
	.navbar-nav > li > a:before{
		left: 18px;
	}
}


@media only screen and (max-width: 767px){
	#main-nav .nav > li > a{
		padding: 10px 33px;
	}
	#main-nav .nav > li > a:before{
		left: 33px;
	}
}
