RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)

# Remove www form URL 
RewriteCond %{HTTP_HOST} ^www\.(.+) [NC]
RewriteRule ^.*$ http://%1%{REQUEST_URI} [QSA,R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA] 


